@{
    ViewBag.Title = "Home Page";
    Layout = "";
}

<!DOCTYPE html>

<html lang="en-US">
<head>

    <title>¡Gracias por descargar!</title>

    <meta name="theme-color" content="#080738" />
    @*<link  href="https://assets.ctfassets.net/zw48pl1isxmc/3vlRMPrFUISEWiuOaiCOq8/fa5652a6abc88ce8835431b8e48317f2/favicon.ico*@
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    @*<style media="screen">
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }



        </style>*@


    <style>
        label {
            font-weight: bold !important;
        }
    </style>
    <!-- WWW CSS -->

    <link href="~/Content/original-62812e042994cb7c74bc74fac4250c3db9b2577d.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>
<body class="en-us">

    <header class="main-nav-hide">
        <nav class="container navbar navbar-expand-md">
            <a href="https://www.optimizely.com/" class="logo-optimizely mr-auto text-hide">Lentes RD</a>

        </nav>
    </header>
    <main class="resources detail">

        <section class="hero hero-standard   d-flex justify-content-center align-items-center" data-optimizely="hero" style="background-image: url(&#39;http://getwallpapers.com/wallpaper/full/9/8/5/653268.jpg&#39; )">
            <!--  -->
            <div class="hero-content container">

                <h1 class="center-aligned">
                    <strong>¡Gracias por descargar nuestro ebook!</strong>
                </h1>
                <h2 class="">
                    <strong> </strong>
                </h2>
            </div>
        </section>
        <section class="split-section container d-flex flex-column flex-md-row">
            <div class="content-side col-md-5 col-lg-6" data-optimizely="resourceContent">

                <p><strong>En este grandioso ebook encontrarás cómo:</strong></p>
                <p></p>
                <ul>

                    <li>Aumentar el amor a los demás</li>
                    <li>La gran compasión</li>
                    <li>El amor que desea la felicidad de los demás.</li>
                    <li>El buen corazón supremo</li>
                    <li>El arte de tomar y dejar</li>
                </ul>
                <p>  Y un sin número de consejos más para que puedas vivir una vida mejor, no esperes mas.</p>
            </div>
            <div class="pillar-side container col-lg-7 col-xl-5 pl-lg-0">
             
            </div>
        </section>

    </main>


</body>
</html>