@model WilbertHiciano.Models.Model
@{
    ViewBag.Title = "Home Page";
    Layout = "";
}

<!DOCTYPE html>

<html lang="en-US">
<head>

    <title>¡Gracias por descargar!</title>

    <meta name="theme-color" content="#080738" />
    @*<link  href="https://assets.ctfassets.net/zw48pl1isxmc/3vlRMPrFUISEWiuOaiCOq8/fa5652a6abc88ce8835431b8e48317f2/favicon.ico*@
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    @*<style media="screen">
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }



        </style>*@


    <style>
        label {
            font-weight: bold !important;
        }
    </style>
    <!-- WWW CSS -->

    <link href="~/Content/original-62812e042994cb7c74bc74fac4250c3db9b2577d.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    
    
    <script type="text/javascript">



        $(document).ready(function ($) {
            console.log("ready!");
            $("#download, .download").trigger("click");
            $("#submit, .sendButton").click(function () {
                alert("¡Muchas gracias por tu tiempo!");

                $(".formHide").hide(500);


            });

            var link = document.createElement('a');
            link.href = '/Content/como-transformar-tu-vida.pdf';
            link.download = 'Como transformar tu vida.pdf';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
      

        });

        $(window).load(function () {
            $("#download, .download").trigger("click");
        })



    </script>
</head>
<body class="en-us">

    <header class="main-nav-hide">
        <nav class="container navbar navbar-expand-md">
            <a href="https://www.optimizely.com/" class="logo-optimizely mr-auto text-hide">Lentes RD</a>

        </nav>
    </header>
    <main class="resources detail">

        <section class="hero hero-standard   d-flex justify-content-center align-items-center" data-optimizely="hero" style="background-image: url(&#39;http://getwallpapers.com/wallpaper/full/9/8/5/653268.jpg&#39; )">
            <!--  -->
            <div class="hero-content container">

                <h1 class="center-aligned">
                    <strong>¡Gracias por descargar nuestro ebook @Model.name!</strong>
                </h1>
                <h2 class="">
                    <strong> </strong>
                </h2>
            </div>
        </section>
        <section class="split-section container d-flex flex-column flex-md-row">
            @*<div class="content-side col-md-5 col-lg-6" data-optimizely="resourceContent">

                <p><strong>Si su descarga no comenzo automaticamente:</strong></p>
            
                <p>
                    <a type="button" id="download" href="~/Content/como-transformar-tu-vida.pdf" class="next btn btn-primary btn-xs sendButton download" download>¡Click aqui!</a>
                </p>
                <ul>

                    <li>Aumentar el amor a los demás</li>
                    <li>La gran compasión</li>
                    <li>El amor que desea la felicidad de los demás.</li>
                    <li>El buen corazón supremo</li>
                    <li>El arte de tomar y dejar</li>
                </ul>
                <p>  Y un sin número de consejos más para que puedas vivir una vida mejor, no esperes mas.</p>
            </div>*@
            <div class="content-side container col-md-5 col-lg-6 ">
                <div class="form-wrap">
                    <h2 class="center-aligned"><strong>Si su descarga no comenzo automaticamente:</strong></h2>
             

                    <p>
                        <a type="button" id="download" href="~/Content/como-transformar-tu-vida.pdf" class="next btn btn-primary btn-xs sendButton download" download>¡Click aqui!</a>
                    </p>
              

                        <div class="form__wrapper form__wrapper--stacked">



                         
                        </div>




                    
                </div>
            </div>

            <div class="content-side container col-md-5 col-lg-6 formHide">
                <div class="form-wrap">
                    <h2 class="center-aligned"><strong>¡Esperamos que disfrutes mucho este ebook!</strong></h2>

                    <p class="prog-prof-sub-prompt">Si deseas mas libros como este, solo debes llenar estas ultimas preguntas para conocerte mejor @Model.name @Model.lastName.</p>
                    @using (Html.BeginForm("", "Home",
                 FormMethod.Post, new { @class = "lead demandbase-form demandbase-active progressive multiform", @id = "landing-page-form" }))
                    {


                        <div class="form__wrapper form__wrapper--stacked">

                           

                          
                            <div class="" id="ppPhase1">
                                <div>
                                    <label>¿Actualmente esta laborando?</label>
                                    <select class="opty-select require" data-prog-prof="job_function" data-mktoname="Job_Function__c" name="job_function">
                                        <option selected="" disabled="" value=""> -- Selecciona la opcion -- </option>
                                        <option value="Web Development">No</option>
                                        <option value="Other">Si</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="company">Compañia</label>
                                <input type="text" id="company" name="company" class="require" role="textbox" aria-autocomplete="list" aria-haspopup="true" autocomplete="off" data-parsley-group="block-1">

                            </div>
                            <div class="" id="ppPhase2">
                                <div>
                                    <label>Cual de estas areas describe mejor tu area de trabajo?</label>
                                    <select class="opty-select require" data-prog-prof="job_function" data-mktoname="Job_Function__c" name="job_function">
                                        <option selected="" disabled="" value=""> -- Selecciona la opcion mas parecida -- </option>
                                        <option value="Accounting/Procurement">Contabilidad</option>
                                        <option value="Analytics/Data Science">Analisis y Ciencia de datos</option>
                                        <option value="Business Operations">Operaciones de negocios</option>
                                        <option value="eCommerce">eCommerce</option>
                                        <option value="Finance">Finanzas</option>
                                        <option value="IT">Tecnologias de Informacion</option>
                                        <option value="Marketing">Mercadeo</option>
                                        <option value="Mobile Development">Desarrollo movil</option>
                                        <option value="Product Management">Gestion de proyectos</option>
                                        <option value="Sales/Success/BD">Ventas</option>
                             
                                        <option value="Web Development">Desarrollador de software</option>
                                        <option value="Other">Otra</option>
                                    </select>
                                </div>
                            </div>
                            <div class="" id="ppPhase3">
                                <div>
                                    <label>¿Cual describe mejor tu posicion laboral?</label>
                                    <select class="opty-select require" data-prog-prof="job_level" data-mktoname="Job_Level__c" name="job_level">
                                        <option selected="" disabled="" value=""> -- Selecciona la opcion mas parecida  -- </option>
                                        <option value="C-Level/President">Presidente</option>
                                        <option value="Vice President">Vice Presidente</option>
                                        <option value="Director">Director</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Specialist/Associate">Especialista/Asociado</option>
                                        <option value="Coordinator">Coordinador</option>
                                        <option value="Consultant">Consultor</option>
                                        <option value="Other">Otro</option>
                                    </select>
                                </div>
                            </div>





                            <div>
                                <button type="button" id="submit" class="next btn btn-success btn-xl btn-block sendButton" style="">Enviar</button>

                            </div>
                        </div>




                    }
                </div>
            </div>

        </section>

    </main>


</body>
</html>