
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Product Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet"  type="text/css"  media="screen" />
    <script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
    <script src="~/Scripts/GeosansLight_500.font.js" type="text/javascript"></script>

    <script type="text/javascript">
Cufon.replace('.logo', { fontFamily: 'GeosansLight' });
Cufon.replace('h1', { fontFamily: 'GeosansLight' });
Cufon.replace('h2', { fontFamily: 'GeosansLight' });
Cufon.replace('h3', { fontFamily: 'GeosansLight' });
    </script>
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="main_container">
        <div class="header">
            <div class="logo"><a href="#">Product Landing Page</a></div>
        </div>
        <div class="home_center">
            <div class="pack_descr">
                <h1>Ut enim ad minim veniam, quis nostrud exercitation ullamco</h1>
                <p class="home_intro"> Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum <a href="#">elit</a>, sed do eiusmod tempor incididunt ut</p>
                <div class="buttons"> <a href="#"><img src="images/order_now.gif" alt="" border="0" /></a> <a href="#"><img src="images/try_demo.gif" alt="" border="0" /></a> </div>
            </div>
            <div class="pack_pic"> <img src="images/pack.png" alt="" border="0" /> </div>
        </div>
        <div class="center_content">
            <div class="left_content">
                <h2>Top Features</h2>
                <div class="feat_box">
                    <img src="images/f1.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>voluptate velit cillum</h3>
                        <p class="feat_text"> Duis aute irure dolor in reprehenderit in voluptate <a href="#">velit</a> esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="feat_box">
                    <img src="images/f2.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>sunt in culpa qui officia</h3>
                        <p class="feat_text"> Excepteur sint occaecat <a href="#">cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="feat_box">
                    <img src="images/f3.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>eu fugiat nulla pariatur</h3>
                        <p class="feat_text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="feat_box">
                    <img src="images/f4.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>voluptate velit cillum</h3>
                        <p class="feat_text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="feat_box">
                    <img src="images/f5.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>sunt in culpa qui officia</h3>
                        <p class="feat_text"> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="feat_box">
                    <img src="images/f6.png" alt="" border="0" class="feat_thumb" />
                    <div class="feat_details">
                        <h3>eu fugiat nulla pariatur</h3>
                        <p class="feat_text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="latest_news">
                    <h1>Product Updates</h1>
                    <div class="news_box">
                        <img src="images/calendar.png" alt="" border="0" class="feat_thumb" />
                        <div class="news_details">
                            <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse</a></h2>
                            <p class="feat_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        </div>
                    </div>
                    <div class="news_box">
                        <img src="images/calendar.png" alt="" border="0" class="feat_thumb" />
                        <div class="news_details">
                            <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing</a></h2>
                            <p class="feat_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_content">
                <h2>What clients say?</h2>
                <div class="testimonial_box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <a href="#">eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <div class="testimonial_details">
                        <p>John Doe, Company name</p>
                    </div>
                </div>
                <div class="testimonial_box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <a href="#">eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <div class="testimonial_details">
                        <p>John Doe, Company name</p>
                    </div>
                </div>
                <div class="testimonial_box">
                    <p>Sed do <a href="#">eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <div class="testimonial_details">
                        <p>John Doe, Company name</p>
                    </div>
                </div>
                <h2>Get in touch</h2>
                <div class="form_content">
                    <form id="form1" method="post" action="#">
                        <div class="form_row">
                            <label>name:</label>
                            <input type="text" class="form_input" name="name" />
                        </div>
                        <div class="form_row">
                            <label>email:</label>
                            <input type="text" class="form_input" name="email" />
                        </div>
                        <div class="form_row">
                            <label>website:</label>
                            <input type="text" class="form_input" name="url" />
                        </div>
                        <div class="form_row">
                            <label>message:</label>
                            <textarea class="form_textarea" name="comment"></textarea>
                        </div>
                        <div class="form_row">
                            <input type="submit" class="form_submit" value="Send" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <p class="lf">Copyright &copy; 2011 <a href="#">Product Landing Page</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://indeziner.com/">INDEZINER</a></p>
            <div class="clear"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>
</html>